---
- name: Define timestamp
  run_once: true
  ansible.builtin.set_fact:
    timestamp: '"{{'

- name: Define file to place results
  ansible.builtin.set_fact:
    template: "{{rootdir}}/{{host}}/{{host}}_{{datatype}}_{{timestamp}}"

- name: Create dropoff directory for host
  ansible.builtin.file:
    path: "{{ rootdir }}/{{ host }}"
    state: directory
